<!DOCTYPE html>
<html>
<head>
  <title>GamingPortal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if params[:controller] == "tictactoes" && params[:action] == "show" %>
    <meta http-equiv="refresh" content="2">
    <% end %>
</head>
<body>
<% unless params[:controller] == "tictactoes" && params[:action] =="show"%>
  <% if current_user %>
      <%= link_to "Log Out -- #{User.find(current_user).user_name}", session_path(session), method: :delete, data: {confirm: 'Are you sure?'}%>
  <% else %>
      <% if @register == true %>
          <%= render partial: 'shared/register' %>
      <%else%>
          <%= render partial: 'shared/login' %>
      <%end%>
  <% end %>
<% end%>
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>


</body>
</html>
